/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700 */

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header */
header,.cards,.parent{
    max-width: 1160px;
    margin: 0 auto;
}
/* .navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
}
.logo h2{
    font-size: 32px;
    font-weight: bold;
    color: #111111;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-right: 32px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.orange{
    color: #FEA301;
}
.sky{
    color: #01ACFD;
}
.rgba{
    color: rgba(5, 212, 223, 1);
}
.rgba-2{
    color: rgba(93, 88, 239, 1);
}

.btn button{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #FEA301;
    border-style: none;
    border-radius:12px;
    padding: 10px 60.5px;
}
#bars{
    display: none;
}
/* .banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.texts h1{
    font-size: 56px;
    font-weight: bold;
    color: #111111;
}
.texts .one{
    color:#FEA301;
}
.texts .tow{
    color: #01ACFD;
}
.texts p{
    font-size: 20px;
    color:#111111;
}
.texts button{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color:#111111;
    border-style: none;
    border-radius:12px;
    padding: 10px 47px;
}

/* main */
main{
    margin: 60px auto 0;
    background-image: url(../assets/bg.png);
    max-width: 1440px;
}
.sec-1 h2{
    text-align: center;
    margin-bottom: 60px;
    color: #000000;
    font-size: 46px;
    font-weight: bold;
}
.sec-1 .cards{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    column-gap: 28px;
}
.card{
    text-align: center;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.1);
    border-radius: 18.86px;
    padding: 53px 40.86px;
}
.card h4{
    color: #202020;
    font-size: 24px;
    font-weight: bold;
}
.card p{
    color: #808080;
    font-size: 15.09px;
    font-weight: 500;
}
.btn-1{
    color: #64C8FF;
    font-size: 15.09px;
    font-weight: bold;
    border-style: none;
    background-color: #FFFFFF;
}
.btn-2{
    color: #F0AA00;
    font-size: 15.09px;
    font-weight: bold;
    border-style: none;
    background-color: #FFFFFF;
}
.btn-3{
    color: #8700FF;
    font-size: 15.09px;
    font-weight: bold;
    border-style: none;
    background-color: #FFFFFF;
}
.gra-1{
    background: linear-gradient(rgba(222, 245, 255, 1) 0%,rgba(255, 255, 255, 0) 40%);
    /* border: 0.25px solid #64C8FF; */
}
.gra-2{
    background: linear-gradient(rgba(255, 244, 220, 1)0%,rgba(255, 255, 255, 0)40%);
    /* border: 0.25px solid #F0AA00; */
}
.gra-3{
    background: linear-gradient(rgba(238, 225, 255, 1)0%,rgba(255, 255, 255, 0)40%);
    /* border: 0.25px solid #8700FF; */
}

/* sec-2 */
.sec-2{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.fa-solid{
    color:#FFFFFF;
    background-color: #FEA301;
    padding:22px 25px;
    border-radius: 50%;
    font-size: 24px;
}

/* .sec-3 */
.sec-3{
    max-width: 1440px;
    margin: 60px auto 0;
    background: linear-gradient(to top,rgb(255, 240, 215),rgba(255, 255, 255, 1));
}
.parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 19.17px;
}
.child-1{
    grid-row: span 2;
}
/* h2 */
.align-center{
    text-align: center;
    margin: 80px 0;
    font-size: 46px;
    font-weight: bold;
    color: #000000;
}
.child-1{
    background-color:#FFFFFF;
    border-radius:0  0 16px 16px;
}
.child-1 img{
    border-radius:16px 16px 0 0;
}
.child-1 p,h3{
    padding: 0 68px 34px 38px;
}
.child-1 h3{
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}
.child-1 p{
    color: #666666;
    font-size: 15.34px;
    font-weight: 500;
}

.child{
    background-color:#FFFFFF;
    border-radius:  16px;
}
.child img{
    border-radius:16px 16px 0  0;
}
.child h4{
    color: #000000;
    font-size: 15.34px;
    font-weight: bold;
    padding: 0 54px 33px 37px;
}
div>button{
    color: #FFFFFF;
    font-size: 15.34px;
    font-weight: 500;
    padding: 15px;
    border-radius:47.93px ;
    border-style: none;
    
}
.btnn-1{
    background-color: #3CD8E8;
}
.btnn-2{
    background-color:#95B226 ;
}
.btnn-3{
    background-color:#5D58F0 ;
}
.view{
    display: flex;
    justify-content: center;
}
.view button{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color:#111111;
    border-style: none;
    border-radius:12px;
    padding: 10px 47px;
    margin: 40px 0;
}

/* footer */
footer{
    max-width:  1440px ;
    height: auto;
    margin: 0 auto;
    background-color: #01ACFD;
}
.cont{
    max-width: 1160px;
    margin: 0 auto;
    padding: 110px 0 130px;
    display: flex;
    justify-content: space-between;
    
}
.kids{
    display: flex;
}
.kids h1{
    font-size:42.14px ;
    font-weight: bold;
    color: #FFFFFF;
}
.box-1 p{
    font-size:20px ;
    color: #FFFFFF;
}
.box-2 ul li{
    list-style: none;
    margin-bottom: 20px;
}
.box-2 ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}
.box-2 ul h4{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
} 
.box-3 h3{
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
}
@media screen and (max-width:576px) {

    .logo h2,.navbar ul,.btn{
        display: none;
    }
    #bars{
        display: block;
    }
    .navbar{
        border-bottom: 1px solid #FEA301;
    }
    .texts{
        text-align: center;
    }
    .fa-solid{
        color:#000000;
        background-color: #FFFFFF;
        padding:0px 0px;
        font-size: 24px;
    }
    .sec-2{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .pic img{
        width: 100%;
    }
    .sec-1 .cards{
        flex-direction: column;
    }
    .sec-1,.sec-3{
        width: 100%;
    }
    .cards .card{
        margin-top: 15px;
        width: 95%;
        box-sizing: border-box;
    }
    .parent{
        grid-template-columns: repeat(2,1fr);
        column-gap: 8px;

    }
    .parent .child-1{
        display: none;
    }
    div button{
        font-size: 12px;
        font-weight: 400;
        padding: 10px;
    }
    .child,.child img{
        width: 100%;
    }
    .child h4{
        padding: 0 15px 8px 7px;
    }
    
    .cont{
        padding: 10px 0 30px;
        flex-direction: column;
    }
    .box-1,.box-3 .pictures{
        padding-left: 15px;
    }
    .box-2{
        padding-left: 0;
    }
}
